*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
    padding: 30px;
    margin: 30px;
}
div.header{
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: repeat(2,1fr);
}
.align-left{
    margin-left: 200px;
}
h1{
    height: 47px;
    width: 500px;
    font-family: PT Serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.045em;
    text-align: left;
    text-transform: uppercase;
}
h2{
    width: 150px;
    height: 27px;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
}
figure{
    position: relative;
padding : 10px; 

}
h2>p{
     width: 200px;
     height: 87px;
     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 27px;
}
img{
    max-width: 100%;
    height: 500px;
}

	.ab {
		float: right;
		width:  5%;
	}
	
	.aa {
		
		width:95%;
		margin-right: 10px;
	}
.title1,.title2,.title3,.title4,.title5,.title6{
    font-family: PT Serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    position: relativ;
    right: 0px;
    top: 0;
    text-align: right ;
    transform: rotate(90deg);
    text-transform: uppercase;

}
figcaption{
    height: 27px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.team-members{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    
}
figure:nth-child(2),figure:nth-child(5){
    padding-top: 40px;
}
footer>p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    text-align: center;
}
@media only screen and (max-width:800px){
body{
        margin : 0;
        padding :1px; }
		
    div.header{
        display: grid;
        padding-bottom: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 75px);
    }
    .team-members{

        display: grid;
		padding:0;
		margin:0;
        grid-gap: 0;
        grid-template-columns: repeat(2, 1fr)
    }
    figure:nth-child(1),figure:nth-child(3),figure:nth-child(5){
        padding-top: 0;
    }
    figure:nth-child(even){
        padding-top: 35px;
    }
    .align-left{
        margin-left: 0;
    }
	figure {
		position: relative;
		margin-top:10px;
	}
	.ab {
		float: right;
		width:  5%;
	}
	
	.aa {
		
		width:95%;
		margin-right: 10px;
	}
	.title1,.title2,.title3,.title4,.title5,.title6{
    font-family: PT Serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    right: 0px;
    top: 0;
    text-align: right ;
    transform: rotate(90deg);
    text-transform: uppercase;
	}
	
}
